body {
    background: lightblue;
    color: white;
    margin: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
fieldset{
    padding: 50px;
    margin: auto;
    width: 50%;
    background-color: black;
    border-color: black;
    border-radius: 14px;
}
h1 {
    color:white;
    text-align: center;
    font 

}

a{
    color: #0B5A87;
    text-decoration:none;
}

dt{
    margin: 20px 0px;
}

dd{
    margin-left: 0 ;
    text-align: justify;
}

.pics{
    float:right;
    box-align: right;
    width: 270px;
    margin:0px 10px;
}

#pic1{
    margin-top: 40px;
}

#pic3{
    margin-top: 40px;
}