@font-face {
    font-family: normal;
    src: url(Jakarta.ttf);
}

body {
    background: #0c0d13;
    color: #000000;
    margin: 5%;
    font-family: normal
}

fieldset{
    padding: 50px;
    margin: auto;
    width: 740px;
    background-color: rgb(238, 107, 19);
    border-color: rgb(238, 107, 19);
    border-radius: 14px;
}

h1 {
    color:#0c0d13;
    text-align: center;
    margin: 50px 0px;
}

dt{
    margin: 20px 0px;
    font-size: 19px;
}

a{
    color: #0c0d13;
    text-decoration:none;
}

dd{
    margin-left: 0 ;
    text-align: justify;
    padding-bottom: 10px;
}

.pics{
    float:right;
    box-align: right;
    width: 270px;
    margin:0px 10px;
}

#pic1{
    margin-top: 40px;
}

#pic3{
    margin-top: 40px;
}