@font-face {
    font-family: normal;
    src: url(Jakarta.ttf);
}

@font-face {
    font-family: italic;
    src: url(JakartaItalic.ttf);
}

body{
    background: #070707;
    font-family: normal;
    color: #55806c;
}

fieldset{
    margin: 50px auto auto;
    width: 1050px;
    background: white;
    border: white;
    border-radius: 14px;
}

h1{
    margin: 80px auto;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    color: #553555;
}

nav{
    margin: 60px auto;
    text-align: center;
}

a{
    margin: 0px 20px;
    font-size: 15px;
    text-decoration: none;
    color: #5f4051;
}

a:hover{
    font-weight: bold;
    text-decoration: overline;
    color: #291B29;
    cursor: pointer;
}

article{
    padding: 0px 80px;
}

h2{
    font-size: 25px;
}

blockquote{
    width: 350px;
    margin: 0px auto;
    text-align: center;
    background-color: #7d747a38;
}

p{
    margin: 25px auto;
    text-align: justify;
}

aside{
    margin: 20px 0px 60px 80px;
}

#photo{
    width: 600px;
    margin: 25px calc(50% - 300px);
    border-radius: 8px;
}

#author{
    width: 60px;
    margin-right: 10px;
    float: left;
}

#description{
    margin: 0px
}

footer{
    margin: 30px 90px;
    color: white;
}